/*
Styling for Coinigy takehome project
*/

$nav-background-color:#32292F;
$nav-item-hover-color:#705D56;

body {
  font-family: 'Open Sans', sans-serif
}

.container {
  display: flex;
}

.c-nav {
  background-color: $nav-background-color;
}

.c-nav__item:not(:disabled):hover {
  background-color: $nav-item-hover-color;
}

ul {
  margin: 0;
  padding: 0;
}

.chart-container {
  text-align: center;
}

/*
Graph styling
*/
svg {
  box-shadow: 1px 1px 15px 6px rgba(191,207,219,1);
}

.chart g rect {
  fill: steelblue;
}

/*
BlazeCSS tweaks
*/
.o-panel--nav-top {
    top: 3.7em;
}
